<!doctype html>
<html lang="en">
  <% include partials/head.ejs %>
  <body class="text-center">
    <h1>Escola 360</h1>

    <button id="exportar-modelo">Exportar modelo CSV</button>
    <br/><br/>
    <button id="importar-modelo" disabled="disabled">Importar modelo CSV</button>

    <% include partials/footer-scripts.ejs %>
    <script src="scripts/verify-auth.js"></script>
    <script src="scripts/processa-arquivo.js"></script>
  </body>
</html>